<div class="users_show_profile">
  <%= render "layouts/object_profile", obj: @user %>
</div>

<div class="text-center">
  <% if current_user == @user %>
    <%= link_to "プロフィールを編集", edit_user_path(current_user), class:"btn btn-success btn-lg" %>
  <% else %>
    <%= render "friendships/follow_button", user: @user %>
  <% end %>
</div>

<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="pets_index_button text-center">
      <%= link_to "ペット一覧",pets_path, class:"btn btn-lg" %>
    </div>
  </div>
</div>

<div class="row pets_row">
  <% @pets.each do |pet| %>
    <div class="col-md-4 a_pet_row">
      <%= render "layouts/object_profile", obj: pet %>
      <div class="text-center">
        <% if current_user == @user %>
          <%= link_to "ペットのプロフィール編集",edit_pet_path(@user,pet), class:"btn btn-success btn-lg" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


