<% if logged_in? %>

  <div class="row">
    
    <div class="col-sm-4">
      <%= render "layouts/object_profile", obj: current_user %>
      <%= render "layouts/post_form", model: @timeline %>
    </div>
    <div class="col-sm-offset-1 col-sm-7">
      <%= render "timelines/timelines", timelines: @timelines %>
    </div>
  </div>

<% else %>

  <%= content_for :introduce do %>
    <div class="introduce">
      <div class="introduce-inner">
        <div class="introduce-contents">
          <div class="text-center">
            <h1>PETでつながる</h1>
          </div>
        </div>
      </div>
    </div>
  
  <% end %>
  
  <div class="toppage_info text-center">
    <h3>自分のペットをたくさんの人に見てもらおう。</h3>
    <h4>かわいいペットの写真を投稿</h4>
    <h4>飼い主さんのお友達をつくる</h4>
    
    <%= link_to "ログイン", login_path, class:"btn btn-success btn-lg" %>
    
  </div>
  
  <div id="guest_user">
    <h4>
      アプリの機能を確認したい方は、ゲストアカウントを用意しています。以下を使ってログインしてください。<br><br>
    </h4>
    <p>
      email: <b>user1@ruby.ruby</b><br>
      password: <b>1231</b>
    </p>
  </div>
<% end %>