<ul class="media-list text-center">
  
  <% timelines.each do |timeline| %>
  
    <li class="media">
      
      <div class="media-left">
          <%= render "layouts/icon_img", obj: timeline.user %>
          <%= link_to timeline.user.name, user_path(timeline.user) %>
      </div>
      
      <div class="media-body text-left">
        <h4><%= timeline.content %></h4>
          <%= image_tag timeline.image.url if timeline.image? %>
      </div>
      <div class="media-body-option">
        <span class="text-muted">
          <%= timeline.created_at %>
        </span>
        <span class="media_good_btn">
          <%= render "goods/good_button", timeline: timeline %>
        </span>
        <% if current_user == timeline.user %>
          <%= link_to "削除", timeline, method: :delete, data:{confirm: "削除してよろしいですか?"}, class:"btn btn-danger" %>
        <% end %>
      </div>

    </li>
  
  <% end %>
  
</ul>